{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}Login{% endblock %}

{% block content %}

    <div class="container overflow-hidden  ">

        <div class="row">
            <div class="col-sm"></div>

            <div class="col-sm border mb-3 mor_form">

                <h1 style="color: black">Login</h1>

                {% get_providers as socialaccount_providers %}

                {% if socialaccount_providers %}
                    <p>{% blocktrans with site.name as site_name %}Please sign in with one
                        of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
                        for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

                    <div class="socialaccount_ballot">

                        <ul class="socialaccount_providers">
                            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                        </ul>

                        <div class="login-or">{% trans 'or' %}</div>

                    </div>

                    {% include "socialaccount/snippets/login_extra.html" %}

                {% else %}
                    <p>{% blocktrans %}If you have not created an account yet, then please
                        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                {% endif %}

                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
{#                    <div class="row">#}
{#                        <div class="col">#}
{#                            {{ form.username.errors | safe }}#}
{#                            <label for="username" class="sr-only">Username</label>#}
{#                            {{ form.login|as_crispy_field }}#}
{#                        </div>#}
{#                        <div class="col">#}
{#                            {{ form.username.errors | safe }}#}
{#                            <label for="username" class="sr-only">Username</label>#}
{#                            {{ form.password| as_crispy_field }}#}
{#                        </div>#}
{#                    </div>#}


                    <button class="btn btn-light" type="submit">{% trans "Sign In" %}</button>
                    <div class='mt-3'>
                        <a class="button secondaryAction"
                           href="{% url 'account_reset_password' %}">Forgot Password?</a>
                    </div>

                </form>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
{% endblock %}
