{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="jumbotron text-center mt-5">
            <h1 class="jumbotron-heading">TAI-Yoga</h1><br>
            <p class="mx-auto text-warning "  style="width: 1000px;">Welcome to our AI-powered Yoga website! Here, you can create customized yoga sessions tailored to your needs and preferences. Whether you want to relieve stress, improve flexibility, or alleviate specific health conditions, our AI technology will provide you with the perfect yoga routine. Simply select the duration, type of ailment, and follow our step-by-step instructions, accompanied by images and videos to guide you through each pose. We hope that you enjoy your personalized yoga journey with us! Namaste.</p>
    </section>
{% endblock content %}