{% extends "base1.html" %}
{% load static %}
{% block content %}
    <h1 style="color: white">Generate Image</h1>
         <form method="post">
            {% csrf_token %}
            <label for="prompt">Prompt:</label>
            <input type="text" id="prompt" name="prompt">
            <button value="Submit" class = "btn btn-dark">Submit</button>
        </form>
    {% if image_url %}
    <div style="color: blue">{{ question }}</div>
        <div style="color: white">{{ answer }}</div>
        <div style="color: white">{{ image_url }}</div>


            <h2>Image:</h2>
            <img src="{{ image_url }}" width="300"  alt="Generated Image">
        {% else %}
            {% if error %}
                <p>{{ error }}</p>
            {% endif %}
        {% endif %}
{% endblock content %}
