{% extends "base1.html" %}
{% load static %}
{% block content %}
<h1>{{ question }}</h1>

  {% if answer1 and answer2 and answer3 and answer4 and correct_answer %}
    <div id="answer-options">
      <button value="1" class="btn btn-light btn-lg answer-button">{{ answer1 }}</button><br>
      <button value="2" class="btn btn-light btn-lg answer-button">{{ answer2 }}</button>
      <br>
      <button value="3" class="btn btn-light btn-lg answer-button">{{ answer3 }}</button><br>
      <button value="4" class="btn btn-light btn-lg answer-button">{{ answer4 }}</button><br>
    </div>
  {% endif %}
    <div>
    <br>
    <br>
  <button id="next-question" class="btn btn-primary btn-lg">Next Question</button>
    </div>
  <script>
  // reload page to show next question
    $('#next-question').click(function() {
        location.reload();
    });

    // Add a click event listener to the form
    var answer_given = false;
    document.getElementById('answer-options').addEventListener('click', function(event) {
      // Get the clicked button
      const button = event.target;
      // Check if the clicked element is a button with the class "answer-button"
      if (button.tagName === 'BUTTON' && button.classList.contains('answer-button')) {
        // Get the value of the clicked button
        const answer = button.value;
        if (answer_given == false) {
          // Check if the answer is correct
          if (answer == {{ correct_answer }}) {
            // If the answer is correct, fill the button green
            button.style.backgroundColor = 'green';
            answer_given = true;
          } else {
            // If the answer is incorrect, fill the button red
            button.style.backgroundColor = 'red';
            $("button[value={{ correct_answer }}]").css("background-color", "green");
            answer_given = true;
          }
        }
      }
    });
  </script>
{% endblock content %}